.chat_container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #190b44;
    position: relative;
    /* z-index: -2; */
}

.chat_textarea {
    /* position: absolute; */
    height: 30px;
}

.chat_send_button{
    /* position: absolute; */
    width: 30px;
    height: 30px;
}

.chat_message_area{
    height: 100%;
    overflow-y: scroll;
}

.sender_chat{
    background: #176e6f;
    color : #fff;
    width : fit-content;
    max-width: 80%;
}