.chat_container{
    height: 100%;
    border-radius: 10px;
    background: #190b44;
    position: relative;
    overflow: hidden;
}

.chat_textarea {
    /* position: absolute; */
    height: 30px;
}

.chat_send_button{
    /* position: absolute; */
    width: 30px;
    height: 30px;
}

.chat_message_area{
    height: 100%;
    /* overflow-y: scroll; */
}

.sender_chat{
    background: #176e6f;
    color : #fff;
    width : fit-content;
    max-width: 80%;
}


.colon {
    display: none;
}

.log {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    height: 100%;
}

.log>div {
  flex: 0 0 auto;
  margin-top: 2.5rem;
  width : fit-content;
  max-width: 80%;
}

.log>div.deleted {
    visibility: hidden;
}

.messageBox {
  position: relative;
  display: inline-block;
  padding: .5rem 1rem;
  margin-left: .75rem;
  border-radius: .6rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #F7F7F7;
}

.log .emote {
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

.log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

.log .message,#log .meta {
    vertical-align: top;
}

.log .meta {
    position: absolute;
    bottom: 100%;
    left: 0px;
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f7f7f7;
    padding: 0.25rem .75rem;
    margin: 0 0 -.3rem -.25rem;
    z-index: 1;
    transform: rotate(-3deg);
}
.log .metaBG {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 5px solid #e81d1d;
    background-color: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    transform: skewX(-10deg);
}

.log .message {
    flex: 1 1 auto;
    word-wrap: break-word;
}

.badge {
    display: inline-block;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
    z-index: 1;
}

.name {
    margin-left: 0.2em;
    position: relative;
    z-index: 1;
}

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  /* position: absolute; */
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}