.chat_container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #C3F3C0;
    position: relative;
    /* z-index: -2; */
}

.chat_textarea {
    position: absolute;
    bottom: 2%;
    height: 30px;
}

.chat_send_button{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 2%;
    right: 1%;
}