.input_bar_style{
    background: none;
    border-radius: 999px;
    border: 3px solid var(--secondary-color);
    outline-style: none;
}

.input_box_style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
}

.input_box_style > label {
    font-weight: 700;
}

.button_style{
    background: var(--secondary-color);
    border-radius: 999px;
    font-weight: 800;
    outline-style: none;
    border: 3px solid var(--secondary-color);
}