.navbar{
    background: var(--secondary-color);
    height: 3.0rem;
    /* margin: 0px 20px; */
    border-radius: 999px;
    display: flex;
    position: relative;
}

.searchbar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.searchbar input{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline-style: none;
    width: 30vw;
    border : 3px solid #585ba7;
}

.profile_section{
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

.profile_section_img {
    border-radius: 50%;
}
.profile_section > div >label > img{
    transition: 0.2s;
    height: 2.5rem;
    width: 2.5rem;
}
.profile_section > div > input{
    display: none;
}

.dropdown_options {
    position: absolute;
    top: 3rem;
    left: 0px;
    overflow: hidden;
    transition: 0.2s;
    height: auto;
}

.addUser_image{
    background: red;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.search_results {
    background : #fff;
    transition: 0.2s;
}

.search_results:hover{
    background: #0b5dd74b;
}