.sidebar_main{
    width: 5rem;
    background: var(--secondary-color);
    margin-left: 10px;
    height: calc(100vh - 3rem - 30px);
    border-radius: 999px;
    padding: 1.5rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
}

.sidebar_main > div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
}